In [1]:
import requests
from datetime import datetime, timedelta
import oracledb
import json
import time

In [9]:
import pandas as pd

In [27]:
from sqlalchemy import create_engine

In [21]:
oracledb.init_oracle_client(lib_dir=r"C:\Users\ict03_013\Oracle\instantclient_11_2")
#oracle클라이언트를 통해서 데이터베이스에 접속이 가능하다.
connection = oracledb.connect(user="final", password='final1234', dsn="localhost:1521/XE")

In [17]:
def get_krx_stock_data(date):
    url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"
    headers = {
        'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
    }
    params = {
        'bld': 'dbms/MDC/STAT/standard/MDCSTAT01501',
        'locale': 'ko_KR',
        'mktId': 'ALL',
        'trdDd': date,
        'share': '1',
        'money': '1',
        'csvxls_isNo': 'false',
    } #한국 거래소 데이터베이스에서 데이터를 받아오기 위해서 요청 값들
    
    response = requests.get(url, params=params, headers=headers)
    data = response.json()
    #데이터들 requests 라이브러리에 있는 get 요청을 보낸 후 data라는 변수에 json형식으로 저장
    
    if 'OutBlock_1' not in data or not data['OutBlock_1']:
        print(f"No data available for {date}")
        return None
    
    print(f"Number of items in OutBlock_1: {len(data['OutBlock_1'])}")
    return data['OutBlock_1']

In [18]:
def save_to_oracle(connection, data, date):
    cursor = connection.cursor()
    
    insert_sql = """
    INSERT INTO STOCK (record_date, stock_code, name, stock_type, closing_price, opening_price, high_price, low_price)
    VALUES (:1, :2, :3, :4, :5, :6, :7, :8)
    """
    
    records = []
    for item in data:
        try:
            stock_type = item.get("MKT_NM","") # KOSPI,KOSDAQ 종목만 데이터베이스에 입력
            if stock_type in ["KOSPI","KOSDAQ"]:
                record = (
                    datetime.strptime(date, '%Y%m%d').date(),
                    item.get('ISU_SRT_CD', ''),
                    item.get('ISU_ABBRV', ''),
                    item.get('MKT_NM', ''),
                    float(item.get('TDD_CLSPRC', '0').replace(',', '')),
                    float(item.get('TDD_OPNPRC', '0').replace(',', '')),
                    float(item.get('TDD_HGPRC', '0').replace(',', '')),
                    float(item.get('TDD_LWPRC', '0').replace(',', ''))
                )
                records.append(record) # 이전에 만들어둔 빈 리스트 records에 추가
        except (ValueError, KeyError) as e:
            print(f"Error processing item: {e}")
            print(f"Problematic item: {item}")
    
    if records:
        cursor.executemany(insert_sql, records)
        connection.commit()
#         print(f"Data saved for {date}. Records: {len(records)}")
    else:
        print(f"No valid records to insert for {date}")

In [19]:
def get_and_save_data_for_date_range(connection, start_date, end_date):
    current_date = start_date
    while current_date <= end_date:
        if current_date.weekday() < 5:  # 0-4는 월-금
            date_str = current_date.strftime("%Y%m%d")
#             print(f"Fetching data for {date_str}")
            data = get_krx_stock_data(date_str)
            if data:
                save_to_oracle(connection, data, date_str)
            else:
                print(f"No data available for {date_str}")
            
            time.sleep(1)  # 1초 대기하여 API 요청 속도 제한
        
        current_date += timedelta(days=1) 

# 실행
try:
#     oracledb.init_oracle_client(lib_dir=r"C:\Users\ict03_013\Oracle\instantclient_11_2")
#     #oracle클라이언트를 통해서 데이터베이스에 접속이 가능하다.
#     connection = oracledb.connect(user="final", password='final1234', dsn="localhost:1521/XE")
#     #데이터 베이스에 접속하기위한 정보 값들
    end_date = datetime.now().date()
    start_date = end_date - timedelta(days=10)  # 약 2년 전
    
#     print(f"Fetching data from {start_date} to {end_date}")
    get_and_save_data_for_date_range(connection, start_date, end_date)

    # 저장된 데이터 확인
#     cursor = connection.cursor()
#     cursor.execute("SELECT COUNT(*) FROM STOCK")
#     count = cursor.fetchone()[0]
#     print(f"Total records in database: {count}")

#     query = "SELECT MIN(record_date), MAX(record_date) FROM STOCK"
#     cursor.execute(query)
#     min_date, max_date = cursor.fetchone()
#     print(f"Date range in database: from {min_date} to {max_date}")
except oracledb.DatabaseError as e:
    error, = e.args
    print(f"Database error occurred: {error.code} - {error.message}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
    import traceback
    print(traceback.format_exc())
finally:
    if 'connection' in locals() and connection:
        connection.close()

Number of items in OutBlock_1: 2820
Number of items in OutBlock_1: 2820
Number of items in OutBlock_1: 2820
Number of items in OutBlock_1: 2820
Number of items in OutBlock_1: 2820
Number of items in OutBlock_1: 2820
Number of items in OutBlock_1: 2820

#### 판다스에서 바로 오라클 데이터베이스로 연동이 힘들기 때문에 create_engine을 이용

In [29]:
connection_string = 'oracle+oracledb://final:final1234@localhost:1521/XE'
engine = create_engine(connection_string)

In [31]:
f = pd.read_sql('SELECT * FROM Stock', engine)
f

,record_date,stock_code,name,stock_type,closing_price,opening_price,high_price,low_price
0,2024-07-15,060310,3S,KOSDAQ,2570,2525,2635,2505
1,2024-07-15,095570,AJ네트웍스,KOSPI,4550,4550,4650,4500
2,2024-07-15,006840,AK홀딩스,KOSPI,14160,14160,14170,14040
3,2024-07-15,054620,APS,KOSDAQ,6920,7050,7050,6860
4,2024-07-15,265520,AP시스템,KOSDAQ,25350,25350,25550,24850
...,...,...,...,...,...,...,...,...
19735,2024-07-23,000540,흥국화재,KOSPI,4225,4190,4270,4190
19736,2024-07-23,000545,흥국화재우,KOSPI,6390,6490,6490,6390
19737,2024-07-23,003280,흥아해운,KOSPI,2140,2150,2180,2130
19738,2024-07-23,037440,희림,KOSDAQ,6850,6790,7000,6670
19739,2024-07-23,238490,힘스,KOSDAQ,5480,5520,5520,5440

In [32]:
f.describe

<bound method NDFrame.describe of       record_date stock_code    name stock_type  closing_price  opening_price  \
0      2024-07-15     060310      3S     KOSDAQ           2570           2525
1      2024-07-15     095570  AJ네트웍스      KOSPI           4550           4550
2      2024-07-15     006840   AK홀딩스      KOSPI          14160          14160
3      2024-07-15     054620     APS     KOSDAQ           6920           7050
4      2024-07-15     265520   AP시스템     KOSDAQ          25350          25350
...           ...        ...     ...        ...            ...            ...
19735  2024-07-23     000540    흥국화재      KOSPI           4225           4190
19736  2024-07-23     000545   흥국화재우      KOSPI           6390           6490
19737  2024-07-23     003280    흥아해운      KOSPI           2140           2150
19738  2024-07-23     037440      희림     KOSDAQ           6850           6790
19739  2024-07-23     238490      힘스     KOSDAQ           5480           5520

       high_price  low_price
0            2635       2505
1            4650       4500
2           14170      14040
3            7050       6860
4           25550      24850
...           ...        ...
19735        4270       4190
19736        6490       6390
19737        2180       2130
19738        7000       6670
19739        5520       5440

[19740 rows x 8 columns]>

In [39]:
grouped_df = dict(tuple(f.groupby('stock_type')))
grouped_df

{'KONEX':       record_date stock_code      name stock_type  closing_price  \
 62     2024-07-15     278990       EMB      KONEX           9000
 99     2024-07-15     343090   HLB사이언스      KONEX           2330
 145    2024-07-15     112190      KC산업      KONEX           1399
 266    2024-07-15     260870     SK시그넷      KONEX          24100
 314    2024-07-15     296520  가이아코퍼레이션      KONEX           2000
 ...           ...        ...       ...        ...            ...
 19405  2024-07-23     341170     퓨쳐메디신      KONEX           3175
 19411  2024-07-23     296160       프로젠      KONEX           7160
 19421  2024-07-23     222670  플럼라인생명과학      KONEX           5300
 19505  2024-07-23     331660  한국미라클피플사      KONEX          13190
 19546  2024-07-23     448900    한국피아이엠      KONEX          31200

        opening_price  high_price  low_price
 62              9180        9180       9000
 99              2300        2390       2270
 145             1399        1399       1202
 266            24200       24600      23950
 314                0           0          0
 ...              ...         ...        ...
 19405           3180        3180       3100
 19411           7150        7200       7010
 19421           5030        5340       5010
 19505              0           0          0
 19546              0           0          0

 [861 rows x 8 columns],
 'KOSDAQ':       record_date stock_code    name stock_type  closing_price  opening_price  \
 0      2024-07-15     060310      3S     KOSDAQ           2570           2525
 3      2024-07-15     054620     APS     KOSDAQ           6920           7050
 4      2024-07-15     265520   AP시스템     KOSDAQ          25350          25350
 5      2024-07-15     211270    AP위성     KOSDAQ          14250          13930
 6      2024-07-15     109960  AP헬스케어     KOSDAQ            739            736
 ...           ...        ...     ...        ...            ...            ...
 19732  2024-07-23     024060    흥구석유     KOSDAQ          13820          13840
 19733  2024-07-23     010240      흥국     KOSDAQ           5670           5600
 19734  2024-07-23     189980  흥국에프엔비     KOSDAQ           2115           2100
 19738  2024-07-23     037440      희림     KOSDAQ           6850           6790
 19739  2024-07-23     238490      힘스     KOSDAQ           5480           5520

        high_price  low_price
 0            2635       2505
 3            7050       6860
 4           25550      24850
 5           14250      13810
 6             754        724
 ...           ...        ...
 19732       13940      13760
 19733        5840       5550
 19734        2135       2095
 19738        7000       6670
 19739        5520       5440

 [11851 rows x 8 columns],
 'KOSDAQ GLOBAL':       record_date stock_code      name     stock_type  closing_price  \
 18     2024-07-15     035760    CJ ENM  KOSDAQ GLOBAL          76900
 94     2024-07-15     195940     HK이노엔  KOSDAQ GLOBAL          40750
 108    2024-07-15     403870      HPSP  KOSDAQ GLOBAL          41300
 128    2024-07-15     035900  JYP Ent.  KOSDAQ GLOBAL          56700
 212    2024-07-15     060250   NHN KCP  KOSDAQ GLOBAL           9600
 ...           ...        ...       ...            ...            ...
 19437  2024-07-23     137400       피엔티  KOSDAQ GLOBAL          50700
 19467  2024-07-23     166090   하나머티리얼즈  KOSDAQ GLOBAL          51400
 19471  2024-07-23     003380      하림지주  KOSDAQ GLOBAL           5750
 19729  2024-07-23     243070       휴온스  KOSDAQ GLOBAL          31850
 19731  2024-07-23     145020        휴젤  KOSDAQ GLOBAL         218500

        opening_price  high_price  low_price
 18             77500       78300      76200
 94             41250       42000      40350
 108            42800       42900      40650
 128            58000       58100      56300
 212             9450        9690       9350
 ...              ...         ...        ...
 19437          52400       52600      50400
 19467          53000       54000      51100
 19471           5700        5780       5700
 19729          31900       32050      31700
 19731         220500      222500     218000

 [343 rows x 8 columns],
 'KOSPI':       record_date stock_code     name stock_type  closing_price  \
 1      2024-07-15     095570   AJ네트웍스      KOSPI           4550
 2      2024-07-15     006840    AK홀딩스      KOSPI          14160
 8      2024-07-15     027410      BGF      KOSPI           3570
 9      2024-07-15     282330   BGF리테일      KOSPI         105500
 11     2024-07-15     138930  BNK금융지주      KOSPI           8550
 ...           ...        ...      ...        ...            ...
 19724  2024-07-23     079980      휴비스      KOSPI           3050
 19727  2024-07-23     005010      휴스틸      KOSPI           4865
 19735  2024-07-23     000540     흥국화재      KOSPI           4225
 19736  2024-07-23     000545    흥국화재우      KOSPI           6390
 19737  2024-07-23     003280     흥아해운      KOSPI           2140

        opening_price  high_price  low_price
 1               4550        4650       4500
 2              14160       14170      14040
 8               3550        3570       3520
 9             104000      106200     103900
 11              8640        8670       8490
 ...              ...         ...        ...
 19724           3005        3160       3005
 19727           4860        4935       4820
 19735           4190        4270       4190
 19736           6490        6490       6390
 19737           2150        2180       2130

 [6685 rows x 8 columns]}

In [36]:
kosdaq_df = grouped_df['KOSDAQ']
kosdaq_df

,record_date,stock_code,name,stock_type,closing_price,opening_price,high_price,low_price
0,2024-07-15,060310,3S,KOSDAQ,2570,2525,2635,2505
3,2024-07-15,054620,APS,KOSDAQ,6920,7050,7050,6860
4,2024-07-15,265520,AP시스템,KOSDAQ,25350,25350,25550,24850
5,2024-07-15,211270,AP위성,KOSDAQ,14250,13930,14250,13810
6,2024-07-15,109960,AP헬스케어,KOSDAQ,739,736,754,724
...,...,...,...,...,...,...,...,...
19732,2024-07-23,024060,흥구석유,KOSDAQ,13820,13840,13940,13760
19733,2024-07-23,010240,흥국,KOSDAQ,5670,5600,5840,5550
19734,2024-07-23,189980,흥국에프엔비,KOSDAQ,2115,2100,2135,2095
19738,2024-07-23,037440,희림,KOSDAQ,6850,6790,7000,6670
19739,2024-07-23,238490,힘스,KOSDAQ,5480,5520,5520,5440

In [38]:
kospi_df = grouped_df['KOSPI']
kospi_df

,record_date,stock_code,name,stock_type,closing_price,opening_price,high_price,low_price
1,2024-07-15,095570,AJ네트웍스,KOSPI,4550,4550,4650,4500
2,2024-07-15,006840,AK홀딩스,KOSPI,14160,14160,14170,14040
8,2024-07-15,027410,BGF,KOSPI,3570,3550,3570,3520
9,2024-07-15,282330,BGF리테일,KOSPI,105500,104000,106200,103900
11,2024-07-15,138930,BNK금융지주,KOSPI,8550,8640,8670,8490
...,...,...,...,...,...,...,...,...
19724,2024-07-23,079980,휴비스,KOSPI,3050,3005,3160,3005
19727,2024-07-23,005010,휴스틸,KOSPI,4865,4860,4935,4820
19735,2024-07-23,000540,흥국화재,KOSPI,4225,4190,4270,4190
19736,2024-07-23,000545,흥국화재우,KOSPI,6390,6490,6490,6390
19737,2024-07-23,003280,흥아해운,KOSPI,2140,2150,2180,2130

In [ ]:
def add_technical_indicators(df):
    """모든 기술적 지표를 데이터프레임에 추가"""
    df['SMA_20'] = calculate_sma(df, 20)
    df['EMA_20'] = calculate_ema(df, 20)
    df['RSI_14'] = calculate_rsi(df, 14)
    
    # MACD (12, 26, 9)
    macd_df = calculate_macd(df, 12, 26, 9)
    df = pd.concat([df, macd_df], axis=1)
    
    # 볼린저 밴드 (20일, 2 표준편차)
    bb_df = calculate_bollinger_bands(df, 20, 2)
    df = pd.concat([df, bb_df], axis=1)
    
    return df

In [1]:
import requests
import xml.etree.ElementTree as ET
from datetime import datetime, timedelta

# API 호출에 필요한 기본 정보
base_url = "https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest"
api_key = "2b222c286f8e47ba864afa155760db1a"

# 서울특별시 구 코드 (예시)
seoul_districts = {
    "915": "서초구",
    "920": "강남구",
    # ... 다른 구들의 코드를 추가하세요
}

# 현재 날짜로부터 1년 전 날짜 계산
end_date = datetime.now()
start_date = end_date - timedelta(days=365)

def get_real_estate_data(district_code, district_name):
    params = {
        "id": "0000000110",
        "reqtype": "xml",
        "key": api_key,
        "search_type_api": "02",  # 월별 검색
        "search_start_date_api": start_date.strftime("%Y%m"),
        "search_end_date_api": end_date.strftime("%Y%m"),
        "search_regn1_name_api": "900",  # 서울특별시 코드
        "search_regn2_name_api": district_code
    }

    response = requests.get(base_url, params=params)
    
    if response.status_code == 200:
        root = ET.fromstring(response.content)
        results = []
        for item in root.findall(".//item"):
            result = {
                "date": item.find("resDate").text,
                "total": item.find("tot").text
            }
            results.append(result)
        return results
    else:
        print(f"Error: Unable to fetch data for {district_name}")
        return None

# 각 구별로 데이터 조회 및 출력
for district_code, district_name in seoul_districts.items():
    print(f"\n{district_name} 부동산 거래 정보:")
    data = get_real_estate_data(district_code, district_name)
    if data:
        for item in data:
            print(f"  {item['date']}: {item['total']}건")
    else:
        print("  데이터를 가져오는데 실패했습니다.")

서초구 부동산 거래 정보:
  2023-08: 221090건
  2023-09: 221140건
  2023-10: 221572건
  2023-11: 221844건
  2023-12: 221653건
  2024-01: 221723건
  2024-02: 221897건
  2024-03: 221977건
  2024-04: 221990건
  2024-05: 222137건
  2024-06: 221503건

강남구 부동산 거래 정보:
  2023-08: 228401건
  2023-09: 230047건
  2023-10: 230421건
  2023-11: 230733건
  2023-12: 230732건
  2024-01: 230924건
  2024-02: 231145건
  2024-03: 231649건
  2024-04: 231222건
  2024-05: 231398건
  2024-06: 231273건