In [1]:
# Series 연산
#import pandas as pd
from pandas import Series
#시각화 까지 필요없는 경우 일부분만 import를 해도 된다.
s1 = Series([10, 15, 20], index=['일','이','삼'])
s2 = Series([2,4,6,8], index=['일','이','삼','사'])

In [2]:
s1

일    10
이    15
삼    20
dtype: int64

In [3]:
s2

일    2
이    4
삼    6
사    8
dtype: int64

In [5]:
#더하기 연산이 가능하다
s1+s2
#4는 s1 에 시리즈에 사에 대한 없는 값과 더하기 연산이 되어서 NaN 값이 나왔다

사     NaN
삼    26.0
이    19.0
일    12.0
dtype: float64

In [6]:
s3 = Series([1,2,3],index=['1줄','2줄','3줄'])
#겹치는 index가 있을때의 연산을 했을때
s1 + s3

1줄   NaN
2줄   NaN
3줄   NaN
삼    NaN
이    NaN
일    NaN
dtype: float64

전부다 NaN 값이 나와서 쓰레기 데이터가 된다(결측치)

In [9]:
# DataFrame 연산

from pandas import DataFrame
import numpy as np

df1 = DataFrame(np.zeros((3,3), dtype='int32'), index=['one','two','three'])
#numpy로 3행 3열을 만들것인데 int형 자료형 구조의 index one two three 값을 지정을한다.
#zeros 기본 디폴트 값을 0으로 한다

In [8]:
df1

       0  1  2
one    0  0  0
two    0  0  0
three  0  0  0

In [16]:
df2 = df1+3
print(df2)
df3 =df2 * 2
print(df3)
#데이터 연산을 한것을 새로운 변수에 담아서 하는게 좋다

       0  1  2
one    3  3  3
two    3  3  3
three  3  3  3
       0  1  2
one    6  6  6
two    6  6  6
three  6  6  6

In [17]:
df3 = DataFrame(np.ones((4,4), dtype='int32'), index=['one','two','three','four'])
#기본값을 1로 잡혀져 있는 4행 4열에 자료형은 int32에 index one two three four 의 값을 지닌 데이터 프레임 생성

In [22]:
df3

       0  1  2  3
one    1  1  1  1
two    1  1  1  1
three  1  1  1  1
four   1  1  1  1

In [24]:
df3 + df2

         0    1    2   3
four   NaN  NaN  NaN NaN
one    4.0  4.0  4.0 NaN
three  4.0  4.0  4.0 NaN
two    4.0  4.0  4.0 NaN

데이터프레임끼리도 연산이 가능하다

In [25]:
df3.add(df2) # sub(),div(),sum() 등등 더 있다.

         0    1    2   3
four   NaN  NaN  NaN NaN
one    4.0  4.0  4.0 NaN
three  4.0  4.0  4.0 NaN
two    4.0  4.0  4.0 NaN

문자열이 있는 데이타프레임의 연산

In [26]:
mydata = {
          'name':['홍길동','박길동','김길동'], 
          'age':[22,33,44], 
          'dept':['컴공','국어','산업']
         }
df = DataFrame(mydata)
df

  name  age dept
0  홍길동   22   컴공
1  박길동   33   국어
2  김길동   44   산업

리스트 형식의 자료도 데이터 프레임을 만들 수 있다.

In [27]:
df+100

TypeError: can only concatenate str (not "int") to str

In [28]:
df * 2

     name  age  dept
0  홍길동홍길동   44  컴공컴공
1  박길동박길동   66  국어국어
2  김길동김길동   88  산업산업

데이터 프레임에 더하기 연산을 하게 되면 오류가 발생하지만
곱하기 연산자를 사용할 시 
문자열 자료형은 두번 반복되서 출력이 되고
숫자형 자료형은 곱하기가 된다.