In [3]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

In [9]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(df))
print(my_fun2(df,3))
print("-"*50)
print(my_fun1(df['a']))
print(my_fun2(df['b'],3))

     a   b
0  100   4
1  400  16
2  900  36
       a    b
0   1000    8
1   8000   64
2  27000  216
--------------------------------------------------
0    100
1    400
2    900
Name: a, dtype: int64
0      8
1     64
2    216
Name: b, dtype: int64

기본적으로 함수 전체에 적용이 되는데 일부분의 값만 확인을 하고 싶으면  
인덱스 값을 찾아서 지정을 한 후에 출력을 하면 된다.

In [15]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
temp1 = df.apply(my_fun1)
print(temp1)

temp2 = df['a'].apply(my_fun2,n=4)
print(temp2)

     a   b
0  100   4
1  400  16
2  900  36
0     10000
1    160000
2    810000
Name: a, dtype: int64

함수를 명확하게 apply라는 함수를 이용을 해서 값을 출력하는 방법도 존재한다.  
이것은 각자의 취향대로 사용을 하면 되고 봤을때  
이 사람은 이런식으로도 사용을 하는구나 하고 넘어가자

In [16]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

In [19]:
temp3 = df.apply(my_fun3)
temp3

a    60
b    12
dtype: int64

In [20]:
temp4 = df.apply(my_fun3,axis =1)
temp4
#Axis =0 행 방향 세로축으로 생각하면 된다.
#Axis =1 행 방향 가로축으로 기준을 잡게 된다.

0    12
1    24
2    36
dtype: int64

In [21]:
df

    a  b
0  10  2
1  20  4
2  30  6

axis가 기본적으로 0으로 잡혀있는데 그것을  
행으로 세로축을 기준으로 잡는다고 생각을 하고  
열로 계산을 하고 싶으면 값을 바꿔주자

In [26]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade
result_grade = df['a'].apply(func)
#print(result_grade)
df['result']= result_grade

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [23]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")

customer

            date  price      state
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled
Yoon  2017-01-09    700  confirmed
Jang  2017-01-09    600   canceled
Ko    2017-01-10    200   canceled

In [40]:
def customer_vip(row):
    if row['state'] == 'confirmed' and row['price'] > 500:
        return 'VIP'
    else:
        return 'non-vip'

우선 고객의 등급을 정해주는 함수를 생성

In [41]:
customer['grade'] = customer.apply(customer_vip, axis=1)

axis =0 이 기본값으로 되어 있고 1로 변경할 시에 열로 계산이 되는 방식이  
행으로 계산되는 방식으로 변경이 된다.

In [42]:
print(customer)

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed  non-vip
Kim   2017-01-03    700  confirmed      VIP
Choi  2017-01-03    900  confirmed      VIP
Park  2017-01-05    800  confirmed      VIP
Lee   2017-01-07    500   canceled  non-vip
Yoon  2017-01-09    700  confirmed      VIP
Jang  2017-01-09    600   canceled  non-vip
Ko    2017-01-10    200   canceled  non-vip