### 다양한 포맷으로 된 파일을 DataFrame으로 로딩하는 API 

1.  read_excel()


2.  read_csv()         
    - 기본 구분자 콤마(,)


3.  read_table() : 기본 구문자가 탭(\t)이다
               read_csv('파일명','\t') 동일하다
                   
4.  read_fwf() : Fixed Width (고정길이) 기반의 컬럼 포맷을 읽어오는 함수




##### [참고]  utf-8 관련 에러 발생한다면?
    - read_csv('data/temp.csv', encoding=cp949)
    - cp949 : 윈도우에서의 한글

In [3]:
import pandas as pd

# csv 파일로 저장하기
mysource = {
    '시도':['서울','경기','인천','부산','대전'],
    '구분':['특별시','도','광역시','광역시','광역시'],
    '인구':['999만','1300만','400만','600만','300만'],
    '면적':[600.9, 10171, 1234.5, 747.8, 459.1]
}
df=pd.DataFrame(mysource)
df

   시도   구분     인구       면적
0  서울  특별시   999만    600.9
1  경기    도  1300만  10171.0
2  인천  광역시   400만   1234.5
3  부산  광역시   600만    747.8
4  대전  광역시   300만    459.1

In [7]:
df.to_excel("result/temp2.xlsx")

In [11]:
# csv 파일을 읽어오는 방법

df.to_csv("result/temp.csv")

In [ ]:
df2=pd.read_csv("result/temp.csv",index_col="Unnamed:0")

In [13]:
df3=pd.read_csv("result/temp.csv",names=['번호','시도','구분','인구','면적'])
df3

    번호  시도   구분     인구       면적
0  NaN  시도   구분     인구       면적
1  0.0  서울  특별시   999만    600.9
2  1.0  경기    도  1300만  10171.0
3  2.0  인천  광역시   400만   1234.5
4  3.0  부산  광역시   600만    747.8
5  4.0  대전  광역시   300만    459.1

In [16]:
df4=pd.read_csv("result/temp.csv"
                ,names=['번호','시도','구분','인구','면적']
                ,index_col='번호'
                ,skiprows=[0]
               ,nrows=3)
df4

    시도   구분     인구       면적
번호
0   서울  특별시   999만    600.9
1   경기    도  1300만  10171.0
2   인천  광역시   400만   1234.5

In [4]:
# 컬럼명을 인덱스로 지정

In [5]:
# 불필요한 행 제외하고 로딩하기

In [6]:
# 출력행수 지정

In [7]:
# 엑셀 파일 로딩하기

In [8]:
# 컬럼 지정 (컬럼의 종류가 너무 많은데 필요한 부분이 작은 경우에 사용한다)

### 텍스트파일 읽어오기

In [9]:
# 텍스트파일(data/TextData.txt) 읽어오기
# 미리 엑셀파일에서 5줄 복사해서 메모장에 넣고 (탭구분상태)로 저장한다.

### JSON 파일 읽어오기

In [10]:
# JSON 파일(data/JsonData.json) 읽어오기